.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0;
	background-image: url('./assets/images/nature.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 40rem) {
	.App {
		justify-content: center;
	}
}
